@charset "utf-8";
/* CSS Document */

body {
	color: #2c2c2c;
	background-image: url("../img/background.svg");
	background-size: 100%;
	background-attachment: fixed;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.lightAcrylic {
    backdrop-filter: blur(20px);
	color: #2c2c2c;
	text-align: center;
	background-color: #f0f0f088;
	padding: 2%;
	margin: 0 auto;
}

.lightBack {
	border-radius: 5px;
	background-color: #f0f0f075;
	padding: 5%;
	margin: 2% auto;
}

.darkAcrylic {
    backdrop-filter: blur(20px);
	color: #f0f0f0;
	text-align: center;
	background-color: #2c2c2c88;
	padding: 2%;
	margin: 0 auto;
}

.darkBack {
	border-radius: 5px;
	background-color: #2c2c2c75;
	padding: 5%;
	margin: 2% auto;
}

.menu {
	background-color: #ffffff00;
	padding: 0.5%;
}

.acrylicMenu {
	backdrop-filter: blur(20px);
	border-radius: 5px;
    background-color: #3a41e488;
    box-shadow: 0 0 5px;
}