@charset "utf-8";
/* CSS Document */

body {
	color: #eeeeee;
	background-color: #1a1a1a;
	font-family: monospace;
}

footer {
	width: 80%;
	padding: 20px;
}

.acrylic {
    backdrop-filter: blur(20px);
	text-align: center;
	padding: 2%;
	margin: 0 auto;
}

.navbar {
	color: #eeeeee;
	background-color: #3a41e4;
	padding: 20px;
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.nav-btn {
	text-decoration: none;
	display: block;
	color: #eeeeee;
	background-color: #5e17eb;
	border-radius: 5px;
	padding: 20px;
	margin: 5px;
	transition: 0.5s;
}

.nav-btn:hover {
	color: #ffffff;
	background-color: #8c52ff;
	text-shadow: 1px 1px 10px white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
	position: absolute;
	float: right;
	right: 0;
	height: 100%;
	width: 75%;
	padding: 20px;
}

.footer {
	background-color: #303030;
	width: auto;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}

.figure-card {
	background-color: #303030;
	padding: 10px;
	border-radius: 5px;
}

.figure-card-img{
	width: 100%;
	border-radius: 5px;
}

.figure-card-caption {
	padding: 10px;
	margin-top: 10px;
	border-style: double;
	border-radius: 5px;
}

.column-4 {
	float: left;
	width: 25%;
}

.column-3 {
	float: left;
	width: 33.33%;
}

.column-2 {
	float: left;
	width: 50%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}