@import "../abstract/var";

.accordion {
    .accordion-btn {
        background-color: $dark-grey-color;
        color: $light-color;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        cursor: pointer;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        &:nth-last-child(2) {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            &.active {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        &:hover {
            background-color: $light-grey-color;
        }

        &.active {
            background-color: $light-grey-color;

            &:hover {
                background-color: $light-color;
                color: $dark-grey-color;
            }
        }
    }

    .accordion-panel {
        background-color: $light-grey-color;
        display: none;
        overflow: hidden;

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}