@charset "utf-8";
/* CSS Document */

body {
	background: #171717;
	background-image: url(colum.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#header {
	width: 80%;
	height: 175px;
	margin: 0 auto;
	background: #0fc4f1b2;
	text-align: center;
	border: 1px solid #ffffff;
	border-style: hidden;
}

#menu {
	width: 80%;
	height: 45px;
	background: rgba(65, 0, 186, 0.8);
	margin: 0 auto;
	overflow: hidden;
	
}

#main {
	width: 80%;
	height: 550px;
	margin: 0 auto;
	background: rgba(103, 28, 202, 0.7);
	display: flex;
	align-items: center;
	border: 1px solid #ffffff;
	border-style: hidden;
	text-align: center;
}


#col1 {
	width: 20%;
	height: 550px;
	background: rgba(167, 28, 202, 0.2);
	float: left;
	text-align: center;
}

#col2 {
	width: 60%;
	height: 550px;
	float: inherit;
}

#col3 {
    width: 20%;
	height: 550px;
	background: rgba(167, 28, 202, 0.2);
	float: right;
}

#score{
	margin : 0 0 0 500px;
	font-size: 25px;
}

#foot {
	background: #312e2ece;
	width: 80%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	padding: 1%;
	color: #FFFFFF;
}