@import './var';
@import './reset';

@mixin acrylic {
    backdrop-filter: blur(20px);
}

html, body {
    color: $light-color;
    font-family: $primary-font;
    background-color: $dark-color;
	font-size: $primary-font-size;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.spacer {
	display: block;
	margin-top: 60px;
	margin-bottom: 60px;
	border-bottom: none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $dark-grey-color;
}

.text-fx {
    background-image: linear-gradient(
        -90deg,
        $secondary-color 0%,
        $tertiary-color 29%,
        $quaternary-color 67%,
        $secondary-color 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.blankspace {
	border-style: none;
	height: 1vw;
}

h1 {font-size: 3em;}

h2 {font-size: 2em;}

h3 {font-size: 1.5em;}

.acrylic {
    backdrop-filter: blur(20px);
	text-align: center;
	padding: 2%;
	margin: 0 auto;
}