@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//Font
$primary-font: 'Ubuntu', sans-serif;
$primary-font-size: large;

//Color
$primary-color: #4700D8;
$secondary-color: #9900F0;
$tertiary-color: #F900BF;
$quaternary-color: #FF85B3;
$dark-color: #1a1a1a;
$dark-grey-color: #333333;
$light-grey-color: #505050;
$light-color: #eeeeee;

//Social colors
$email-color: #299eff;
$linkedin-color: #083e69;
$github-color: #009207;
$cv-color: #86005e;

//Font size
$text-font-size: 4rem;

//Radius
$border-radius: 5px;
$hover-border-radius: 20px;