@charset "utf-8";
/* CSS Document */

.btn {
	background-color: #B5EC8F;
    border: none;
    color: #08133F;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #E795C6;
    color: #08133F;
}