@import "../abstract/var";

@mixin btn-base {
    color: $light-color;
	background-color: transparent;
    text-decoration: none;
	display: block;
    border-radius: $border-radius;
	padding: 25px;
	margin: 10px;
	transition: 1s;
	border: 2px solid $light-color;
    cursor: pointer;

    &:hover, &:focus {
        color: $dark-color;
        background-color: $light-color;
        text-shadow: 1px 1px 10px $light-color;
	    box-shadow: 0 0 2px 0 $dark-color;
    }
}

@mixin nav-btn-scrolled {
    color: $dark-color;
    border-color: $dark-color;

    &:hover, &:focus {
        color: $light-color;
        background-color: $dark-color;
    }
}

.btn {
	@include btn-base();
}

.nav-btn {
    @include btn-base();
    color: $light-color;
    padding: 30px;
    display: unset;

    &.nav-btn.scrolled {
        color: $dark-color;
        border-color: $dark-color;
    }
}

@media screen and (max-width: 700px) {
    .nav-btn {
        padding: 10px;

        .nav-btn-text {
            display: none;
        }
    }
}    

.email-btn {
    @include btn-base();
    border: 2px solid $email-color;

    &:hover, &:focus {
        background-color: $email-color;
    }
}

.linkedin-btn {
    @include btn-base();
    border: 2px solid $linkedin-color;

    &:hover, &:focus {
        background-color: $linkedin-color;
    }
}

.github-btn {
    @include btn-base();
    border: 2px solid $github-color;

    &:hover, &:focus {
        background-color: $github-color;
    }
}

.cv-btn {
    @include btn-base();
    border: 2px solid $cv-color;

    &:hover, &:focus {
        background-color: $cv-color;
    }
}