@import "../abstract/var";

.figure-card {
	background-color: $dark-grey-color;
	padding: 10px;
	border-radius: $border-radius;
	margin: 5px;
	transition: 1s;

    &:hover, &:focus {
        background-color: $light-grey-color;
    }

    img {
        width: 100%;
	    border-radius: $border-radius;
    }

    figcaption {
        padding: 10px;
	    margin-top: 10px;
	    border-style: solid;
        border-width: 2px;
	    border-radius: $border-radius;
	    border-color: $light-color;
    }
}

.vertical-card {
    background-color: $dark-grey-color;
    display: flex;
	padding: 10px;
	border-radius: $border-radius;
	margin: 20px;
	transition: 1s;

    &:hover, &:focus {
        background-color: $light-grey-color;
    }

    img {
        left: 0;
        width: 30%;
	    border-radius: $border-radius;
    }

    figcaption {
        width: 100%;
        right: 0;
        padding: 10px;
	    margin: 10px;
	    border-style: solid;
        border-width: 2px;
	    border-radius: $border-radius;
	    border-color: $light-color;
    }
}

@media screen and (max-width: 700px) {
    .vertical-card {
        display: block;
    
        img {
            left: unset;
            width: 100%;
            border-radius: $border-radius;
        }
    
        figcaption {
            width: unset;
            right: unset;
            margin: 0px;
            margin-top: 10px;
        }
    }
}