@import "../abstract/var";

.footer {
	padding: 2vw;
	margin: 2vw;
	background-color: $dark-grey-color;
	border-radius: $border-radius;
	left: 0;
	bottom: 0;
	transition: 1s;
}

.footer p {
	font-size: 1rem;
	font-weight: bold;
}

.footer:hover, .footer:focus {
	background-color: $light-grey-color;
}