.footer {
	padding: 2vw;
	margin: 2vw;
	background-color: #202020;
	border-radius: 10px;
	left: 0;
	bottom: 0;
	transition: 1s;
}

.footer p {
	font-size: 1rem;
	font-weight: bold;
}

.footer:hover, .footer:focus {
	background-color: #404040;
	border-radius: 50px;
}