@import "../abstract/var";

.header {
    background: 
        radial-gradient(circle at bottom, $light-grey-color, transparent 50%),    
        linear-gradient(to top, $light-grey-color 0%, transparent 70%),    
        linear-gradient(to bottom, transparent, rgba($light-grey-color, 0.4) 70%),
        $primary-color;
    background-image: url( '../../img/background.svg' );
    background-size: cover;
    animation: bg 30s infinite;
    width: auto;
    height: 60vh;
    padding: 10vw;
    padding-top: 10%;
    position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    z-index: 8;
    display: flexbox;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        position: relative;
        margin: 10px;
    }
}

.pageTitle {
    background-color: $primary-color;
    width: auto;
    height: 20vh;
	padding: 10vh;
    padding-top: 30%;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
    z-index: 8;
	display: flexbox;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    background-color: #ffffff;
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    overflow: hidden;
    margin-top: auto;
	transition: 1s;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover, &:focus {
        border-radius: 10px;
    }
}

.title {
    font-size: 6rem;
    text-align: justify;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .header {
        padding-top: 40%;

        div {
            margin: 0;
        }
    }

    .title {
        font-size: 2rem;
    }
}

@keyframes bg {
    0%, 100% { background-color: $primary-color; }
    25% { background-color: $secondary-color; }
    50% { background-color: $tertiary-color; }
    75% { background-color: $quaternary-color; }
}