@import "../abstract/var";
@import "./btn";

.navbar {
	color: $light-color;
	background-color: rgba($dark-color, 0.4);
	padding: 5px;
	height: 90px;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.5s;
	display: flex;
  	align-items: center;
	@include acrylic();

    &.scrolled {
        background-color: rgba($light-color, 0.4);

        .btn {
            @include nav-btn-scrolled();
        }
    }

    .menu {
        display: none;
    }
}

.menu {
	opacity: 0;
	z-index: -1;
	display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .column-4 {
		float: unset;
		width: unset;
	}
	
	.column-3 {
		float: unset;
		width: unset;
	}
}