@charset "utf-8";
/* CSS Document */

body {
	background: #171717;
	background-image: url(wallpaper.png);
	background-position: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#header {
	width: 80%;
	height: 175px;
	margin: 0 auto;
	background: #232323;
	text-align: center;
	border: 1px solid #ffffff;
	border-style: hidden;
}

#menu {
	width: 80%;
	height: 45px;
	background: #008CBA;
	margin: 0 auto;
	overflow: hidden;
	
}

#main {
	width: 80%;
	height: 550px;
	margin: 0 auto;
	background: #003084;
	display: flex;
	align-items: center;
	border: 1px solid #ffffff;
	border-style: hidden;
	text-align: center;
}


#col1 {
	width: 20%;
	height: 550px;
	background: #B4B4B4;
	background-image: url("colum.jpg");
	background-position: left;
	float: left;
	text-align: center;
}

#col2 {
	width: 60%;
	height: 550px;
	float: inherit;
}

#col3 {
    width: 20%;
	height: 550px;
	background: #B4B4B4;
	background-image: url("colum.jpg");
	background-position: right;
	float: right;
}

#score{
	margin : 0 0 0 500px;
	font-size: 25px;
}

#foot {
	background: #232323;
	width: 80%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ffffff;
	border-style: dashed;
	color: #FFFFFF;
}

.btn {
	background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: black;
    color: #008CBA;
}
