//Font
$primary-font: monospace;
$primary-font-size: large;

//Color
$primary-color: #4700D8;
$secondary-color: #9900F0;
$tertiary-color: #F900BF;
$quaternary-color: #FF85B3;
$dark-color: #1a1a1a;
$dark-grey-color: #333333;
$light-grey-color: #505050;
$light-color: #eeeeee;

//Social colors
$primary-email-color: #299eff;
$secondary-email-color: #83c7ff;

//Font size
$text-font-size: 4rem;